
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2{
    font-size: 40px;
}
.margin_auto{
    max-width: 1000px;
    margin: auto;
}
/* Header */
/* Header top */
main{
    padding-top: 113px
}
header{
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
.logo{
    max-width: 100px;
    padding-top: 15px;
}
.header-top{
    height: 30px;
}
/* /Header top */

/* Header bottom - nav */
.angle{
    width: 8px;
}
.search{
    width: 30px;
}
.btn{
    background-color: #363636;
    color: white;
    border-radius: 40px;
    padding: 0 15px;
    margin-left: 10px;
}
.navbar{
    margin-top: 17px;
}
.navbar .collapse ul li{
    padding: 0 10px;
}
.search{
    margin-left: 30px;
}
/* /Header bottom - nav */
/* /Header */

/* Hero Top*/
.hero_top{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.descrizione_hero{
    margin: 200px 0px 50px 0px;
}
.descrizione_hero>img{
    max-width: 200px;
    padding-bottom: 30px;
}
.descrizione_hero div, h2, .descrizione_takes_two div, .descrizione_it_takes_two_bottom{
    color: white;
    
}
.descrizione_hero .btn, .descrizione_takes_two .btn{
    background-color: #CD3D11;
    padding: 8px 15px;
    margin: 50px 0 0 0;
}
/* /Hero Top*/

/* Hero-bottom*/
.img_videogioco{
    border-radius: 20px;
}
.contenuto_img{
    margin-top: 30px;
}
.contenuto_img_hover:hover{
    box-shadow: 0px 0px 0px 2px #0072ce;
    padding: 3px;
}
/* /Hero-bottom*/

/* Contenitore dettagli playstation 5 */

.playstation5{
    margin: 80px 0px 80px 0px;
}
.padding_bottom{
    padding-bottom: 50px;
}
.blue{
    color: #4B99DB;
}
.grey{
    color: #727272;
    padding-top: 20px;
}
.playstation5 h2{
    color: black;
}
.btn_blue{
    background-color: #2D64E6;
    color: white;
    margin-left: 0;
    padding: 8px 15px;
}
.play_padding{
    padding-top: 150px;
}
.playstation5_img img{
    width: 100%;
}
.img_accessori{
    padding-top: 50px;
    max-width: 140px;
}
.contenitore_descrizione{
    padding-top: 10px;
}
.img_hover_accessori a{
    text-decoration: none;
    color: black;
}
.img_hover_accessori{
    opacity: 0.5;
}
.img_hover_accessori:hover{
    opacity: 1;
    border-bottom: 2px solid #2D64E6;
}
/* /Contenitore dettagli playstation 5 */

/* Contenitore section takes two */
.takes_two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.descrizione_takes_two>img{
    max-width: 250px;
    padding-bottom: 50px;
}
.descrizione_takes_two{
    margin: 50px 0px 50px 0px;
}
.it_takes_two_bottom{
    background-color: #202020;
}
.descrizione_it_takes_two_bottom h3{
    margin: 30px 0;
}
.descrizione_it_takes_two_bottom p{
    font-size: 20px;
}
.it_takes_two_bottom .contenuto_img div{
    color: #D3D3D3;
    font-size: 13px;
    padding-top: 10px;
}
/* /Contenitore section takes two */

/* Sezione esplora */
.img_esplora{
   width: 100%;
}
/* /Sezione esplora */

/* Sezione plus */
.plus{
    background-color: #BFBCBB;
}
.logo_plus{
    max-width: 350px;
    padding-top: 30px;

}
.banner_plus{

}

.btn_grey{
    background-color: #D9DADC;
    color: #4070E5;
    padding: 8px 15px;
    margin: 40px 0 40px 0;
} 
/* /Sezione plus */
