
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* Header */
/* Header top */
header{
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
}
.logo{
    width: 100px;
    padding-top: 15px;
}
.header-top{
    height: 30px;
}
/* /Header top */

/* Header bottom - nav */
.angle{
    width: 8px;
}
.search{
    width: 30px;
}
.btn{
    background-color: #363636;
    color: white;
    border-radius: 40px;
    padding: 0 15px;
    margin-left: 10px;
}
.navbar{
    margin-top: 17px;
}
.navbar .collapse ul li{
    padding: 0 10px;
}
.search{
    margin-left: 30px;
}
/* /Header bottom - nav */
/* /Header */

/* Hero */
.hero{
    background-image: url(../img/jumbo-bg.png);
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 100px;
    padding: 250px 50px 50px 50px;
}
.descrizione_hero>img{
    width: 200px;
    padding-bottom: 30px;
}
.descrizione_hero div, h1{
    color: white;
}
.descrizione_hero div{
    padding: 30px 0;
}
.descrizione_hero .btn{
    background-color: #CD3D11;
    padding: 8px 15px;
    margin-left: 0px;
}
/* /Hero */

/* Section Playstation */
.img_videogioco{
    border-radius: 20px;
    width: 100%;
    overflow: hidden; 
}
.contenuto_img{
    margin: 10px 0;
}

/* /Section Playstation */
