
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2{
    font-size: 40px;
}
.margin_auto{
    max-width: 1000px;
    margin: auto;
}
.font_size{
    font-size: 20px;
}
.margin_top{
    margin-top: 30px;
}
/* Header */
/* Header top */
main{
    padding-top: 113px
}
header{
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
.logo{
    max-width: 100px;
    padding-top: 15px;
}
.header-top{
    height: 30px;
}
/* /Header top */

/* Header bottom - nav */
.navbar-light .navbar-nav .nav-link{
    color: black;
}
.angle{
    width: 8px;
}
.search{
    width: 30px;
}
.btn{
    background-color: #363636;
    color: white;
    border-radius: 40px;
    padding: 0 15px;
    margin-left: 10px;
}
.navbar{
    margin-top: 17px;
}
.navbar .collapse ul li{
    padding: 0 10px;
}
.search{
    margin-left: 30px;
}
/* .dropdown .border_bottom{
    border-bottom: 1px solid red;
}
.sub_link a{
    color: red;
}
.display_menu ul{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
} */
/* TEST */
.dropdown{
    position: static;
}
.dropdown-menu{
    width: 100%;
}
.dropdown-menu li{
    display: inline-block;
}
.border_top{
    border-top: 1px solid #C7C8C9;
}
.border_top ul{
    margin-left: -30px;
}
ul .stile a:before {
    content: "• ";
    color: #0070D1;
}



/* /TEST */
/* /Header bottom - nav */
/* /Header */

/* Hero Top*/
.hero_top{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.descrizione_hero{
    margin: 200px 0px 50px 0px;
}
.descrizione_hero>img{
    max-width: 200px;
    padding-bottom: 30px;
}
.descrizione_hero div, h2, .descrizione_takes_two div, .descrizione_it_takes_two_bottom, .now_testo, footer, .footer_stile ul li a{
    color: white;
    
}
.descrizione_hero .btn, .descrizione_takes_two .btn{
    background-color: #CD3D11;
    padding: 8px 15px;
    margin: 50px 0 0 0;
}
/* /Hero Top*/

/* Hero-bottom*/
.img_videogioco{
    border-radius: 20px;
}
.contenuto_img{
    margin-top: 30px;
}
.contenuto_img_hover:hover{
    box-shadow: 0px 0px 0px 2px #0072ce;
    padding: 3px;
}
/* /Hero-bottom*/

/* Sezione playstation 5 */

.playstation5, .esplora, .sconti, .social_media{
    margin: 80px 0px 80px 0px;
}
.padding_bottom{
    padding-bottom: 50px;
}
.blue{
    color: #4B99DB;
}
.grey{
    color: #727272;
    padding-top: 20px;
}
.playstation5 h2, .esplora h2, .social_media h2, .img_hover_accessori a, .sconti h2{
    color: black;
}
.btn_blue{
    background-color: #2D64E6;
    color: white;
    margin-left: 0;
    padding: 8px 15px;
}
.play_padding{
    padding-top: 100px;
}
.playstation5_img img{
    width: 100%;
}
.img_accessori{
    padding-top: 50px;
    width: 100%;
}
.contenitore_descrizione{
    padding-top: 10px;
}
.img_hover_accessori a{
    text-decoration: none;
}
.img_hover_accessori{
    opacity: 0.5;
}
.img_hover_accessori:hover{
    opacity: 1;
    border-bottom: 2px solid #2D64E6;
}
/* /Sezione playstation 5 */

/* Sezione It takes two */
.takes_two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.descrizione_takes_two>img{
    max-width: 250px;
    padding-bottom: 50px;
}
.descrizione_takes_two{
    margin: 50px 0px 50px 0px;
}
.it_takes_two_bottom{
    background-color: #202020;
}
.descrizione_it_takes_two_bottom h3{
    margin: 30px 0;
}
.descrizione_it_takes_two_bottom p{
    font-size: 23px;
}
.it_takes_two_bottom .contenuto_img div{
    color: #D3D3D3;
    font-size: 13px;
    padding-top: 10px;
}
/* /Sezione It takes two */

/* Sezione plus */
.plus{
    background-color: #BFBCBB;
}
.logo_plus{
    max-width: 350px;
    padding: 30px 0;
}
.btn_grey{
    background-color: #D9DADC;
    color: #4070E5;
    padding: 8px 15px;
    margin: 40px 0 40px 0;
} 
.img_background img{
  height: 100%;
  width: 100%;
}
/* /Sezione plus */

/* Sezione Playstation now */
.now{
    background-color: #161D3B;
}
.btn_now{
    background-color: #F5F5F5;
    color: black;
    padding: 8px 15px;
    margin: 40px 0 40px 0;
}
/* /Sezione Playstation now */

/* Sezione social media */
.contenitore_social{
    width: 50%;
    margin: auto;
}
/* /Sezione social media */

/* Footer */
footer{
    background-color: #00439B;
}
.footer_margin{
    padding: 80px 0;
}
/* Footer-top */
.logo_footer{
    width: 100px;
}
.globe{
    width: 20px;
}
.footer_stile ul li a{
    text-decoration: none;
}
.footer_stile ul li{
    list-style: none;
}

/* /Footer-top */

/* Footer bottom */
.margin_top_footer{
    margin-top: 15px;
}
.margin_top_footer_bottom{
    margin-top: 20px;
}
.margin_bottom_footer{
    margin-bottom: 40px;
}
/* /Footer bottom */

/* /Footer */
